.comment-form__info {
    display: flex;
    justify-content: space-evenly;
    padding: var(--size-2xl);
    gap: var(--size-2xl);
}

.comment-form__info-item {
    background-color: var(--clr-secondary);
    color: var(--clr-dark);
    padding: 3px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: var(--size-8xl);
    height: var(--size-8xl);
    font-size: var(--size-base);
}

.comment-form__info-item span {
    font-size: var(--size-sm);
}

.comment-form__info-item.hadir {
    background-color: var(--clr-dark);
    color: var(--clr-third);
}

/* xs */
@media (min-width : 475px) {
    .comment-form__info-item {
        width: var(--size-8xl);
        height: var(--size-8xl);
        font-size: var(--size-lg);
    }

    .comment-form__info-item span {
        font-size: var(--size-base);
    }
}

/* sm */
@media (min-width : 640px) {
    .comment-form__info-item {
        width: var(--size-9xl);
        height: var(--size-9xl);
        font-size: var(--size-xl);
    }

    .comment-form__info-item span {
        font-size: var(--size-lg);
    }
}

/* md */
@media (min-width : 768px) {
    .comment-form__info-item {
        width: var(--size-10xl);
        height: var(--size-10xl);
        font-size: var(--size-2xl);
    }

    .comment-form__info-item span {
        font-size: var(--size-xl);
    }
}

/* lg */
@media (min-width : 1024px) {
    .comment-form__info-item {
        width: var(--size-8xl);
        height: var(--size-8xl);
        font-size: var(--size-lg);
    }

    .comment-form__info-item span {
        font-size: var(--size-base);
    }
}

/* xl */
/* @media (min-width : 1280px) {} */

/* 2xl */
/* @media (min-width : 1536px) {} */